.mahjong-item {
  border: 0.5px solid var(--grey);
  border-radius: 8px;
  width: 80px;
  height: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: var(--black);
  cursor: pointer;
  background-color: var(--white);
  transition: box-shadow .3s ease, border .1s ease;

  //&.hidden {
  //  .item-number {
  //    color: red;
  //  }
  //}

  &.in-progress {
    border-color: var(--orange);
  }

  &.completed {
    border: 1px solid var(--black);
  }

  &:hover {
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);
  }
}