@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

:root {
	--white: #FFFFFF;
	--black: #0A0A0C;
	--orange: #ED5517;
	--grey: #CDCDCD;
}

.App {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-top: 48px
}

.App h1 {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 72px;
	margin: 0;
}